/build/
/roam/webserv.db
sockets_tryout/.vscode/
sockets_tryout/webserv
/compile_commands.json
/.cache/
/webserv
/.vscode/
log.txt
/sockets_tryout/a.out
/sockets_tryout/showip
/obj/
/tests/unittests/test_files/UploadHandler/uploads/existDir/fileCannotOpen.txt
